  *, *::before, *::after { box-sizing: border-box; }

  body { margin: 0; font-family: 'DM Sans' , sans-serif !important; background: linear-gradient(194deg, #abb6e8 12%, #40255b 100%); color: #0f172a; background-repeat: no-repeat; background-size: cover; min-height: 100vh;}

  button { font-family: 'DM Sans', sans-serif !important; }

#ProductCard {
    box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.63);
    border-radius: 8px;
    background-image: url(https://t4.ftcdn.net/jpg/03/32/39/53/360_F_332395364_9cRasiB0quC4wEnmWNxjdVaYXWFOSIuS.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}
#fixnavbar {
    background-color: #dde7ed !important;
    box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.63) !important;
}
#brand {
    font-weight: bolder;
}
#adminboard {
    box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.63);
    border-radius: 9px;
    background-color: #e1e6f2 !important;
}
#dashboard {
    color: #082575 !important;
    font-weight: bold;
}
h1 {
    font-weight: bolder !important;
    text-shadow: -3px 0px 18px rgba(219,255,252,1);
}
#homebanner {
    font-weight: bold;
    text-shadow: -3px 0px 18px rgba(219,255,252,1);
}
#hometagline {
    color: white !important;
    font-size: 1.5rem;
}
#addproduct, #loginpage, #registercard {
    border: 1px solid whitesmoke;
    border-radius: 9px;
    background-color: #e1e6f2;
    padding-bottom: 5px;
    box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.63);
}
#ordertable {
    box-shadow: 5px 5px 15px 4px rgba(255, 255, 255, 0.63);
    border-radius: 9px;
}
#updateprofile, #profilecard {
    box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.63);
    border-radius: 9px;
}
#registercard {
    padding: 10px;
}
#homepagebutton {
    box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.63);
    border-radius: 9px;
}